# Data files/folders
crawl_prototype/spiders_output/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.clas

# Scrapy stuff:
.scrapy

# Jupyter
.ipynb_checkpoints
profile_default/
ipython_config.py
